
<div class="container col-12">
    <section class=" d-flex justify-content-center flex-wrap my-3" id="organizador">

        <div class=" mr-5 d-flex justify-content-between responsivo">

            <div class=" mr-5 d-flex pt-3 flex-wrap filtros" action="">

                <div class="form-group d-flex justify-content-center">
                    <label class="control-label mx-5">Ordenar:</label>
                    <div>

                        <select name="txt_order mx-3" id="ordenarPor" size="1" id="label-seletor" class=" ml-3 mb-5 fFiltro form-control input-sm">
                            <option value="none" selected=""></option>
                            <option value="preco">Preço</option>
                            <option value="nome">Nome</option>
                        </select>

                    </div>
                </div>

                <div class="form-group d-flex justify-content-center">
                    <label class="control-label mx-5">Ordem:</label>
                    <div>

                        <select name="txt_order" id="ordem" size="1" id="label-seletor" class=" ml-3 fFiltro form-control input-sm">
                            <option value="none" selected=""></option>
                            <option value="desc">Decrescente</option>
                            <option value="asc">Crescente</option>

                        </select>

                    </div>

                </div>

                <div class="form-group d-flex justify-content-center">
                    <label class="control-label mx-5">nº de páginas:</label>
                    <div >

                        <select name="txt_order" size="1" id="quantidade" id="label-seletor" class=" ml-3 fFiltro form-control input-sm">
                            <option value="10" selected="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>

                        </select>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">

 
    <div class="row mb-5">



        <!-- NOVO CARD -->
        <div class="col-8 col-md-3 col-lg-3">
            <div class="card" id="card" *ngFor="let produto of listaProdutos">

                <div class="card-body">
                    <img id="card-img" class="card-img img-fluid" src="{{produto.foto}}">

                    <h4 class="card-title text-center mt-4">{{produto.nome}}</h4>
                    <p class="card-text mb-2"></p>

                    <form method="post" action="">
                        <div class="price text-success mt-3">
                            <label for="name" class=" ml-1">R$&nbsp;{{produto.preco}}</label>
                            <input class="product-input1" type="number" value="1" min="1" max="20" step="1" />

                        </div>
                    </form>
                    <button id="btn-comprar" type="button" class=" btn card-link mt-2 px-3">comprar</button>

                </div>
            </div>
        </div>

