<div class="container text-geral">
    <div class="w-100 ">
      <p class=" text-center text-titulo">Administrador</p>
      <button class="btn btn-outline-dark w-50 active" [routerLink]="['/administrador/usuarios']">Usuarios</button>
      <button class="btn btn-outline-dark w-50" [routerLink]="['/administrador/produtos']">Produtos</button>
      <button class="btn btn-outline-dark w-50" [routerLink]="['/administrador/mensagens']">Mensagens</button>
    </div>
    <p class="display-4 text-center text-titulo">Mensagens dos usuarios</p>
    <div class="card" *ngFor ="let contatos of  listaContatos">
        <div class="card-header">
            {{contatos.id}}
        </div>
         <div class="card-header">
            {{contatos.nome}}
        </div>
        <div class="card-header">
            {{contatos.email}}
        </div>
        <div class="card-header">
            {{contatos.telefone}}
        </div>
        <div class="card-body">
            {{contatos.mensagem}}
        </div>
    </div>
    
     
  </div>
  


  